*{
    padding:0;
    box-sizing: border-box;
}

.top_nav{
    background-color: #103A3E;
    opacity: 1;
    /* width: 100%; */
    width: 100%;
}

.top_nav_container{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.top_nav_container_left,.top_nav_container_right{
   width: 40%;
   justify-content:space-evenly;
   align-items: center;
   
}

.top_nav_container_left_content{
    /* border:2px solid green; */
  color:rgb(21, 124, 140) ;
  opacity: 1;
   /* rgb(17, 101, 114); */
  font-weight: 500;
  padding: 12px;
text-align: center;
margin-left: -28px;
/* border:2px solid red */
}
.top_nav_container_left_content:hover{
    background-color: rgb(20, 119, 135);
    /* opacity: 1; */
    color: white;
    font-weight: 600;
}
.top_nav_container_right_content{
    padding: 14px;
    color: white;
    font-size: 21px;
}




.icon_right_div{
    align-items: center;
    justify-content: center;
}



.header{
    /* position: relative; */
    /* border:2px solid blue */
}
.nav{
    /* position: fixed; */
    width: 100%;
    
    /* top: 20;*{
    padding:0;
    box-sizing: border-box;
}

.top_nav{
    background-color: #103A3E;
    opacity: 1;
    width: 100%;
}

.top_nav_container{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.top_nav_container_left,.top_nav_container_right{
   width: 40%;
   justify-content:space-evenly;
   align-items: center;
   
}

.top_nav_container_left_content{
    /* border:2px solid green; */
  color:rgb(21, 124, 140) ;
  opacity: 1;
   /* rgb(17, 101, 114); */
  font-weight: 500;
    padding: 14px;
    text-align: center;
}
.top_nav_container_left_content:hover{
    background-color: rgb(20, 119, 135);
    /* opacity: 1; */
    color: white;
    font-weight: 600;
}
.top_nav_container_right_content{
    padding: 14px;
    color: white;
    font-size: 21px;
}




.icon_right_div{
    align-items: center;
    justify-content: center;
}



.header{
    /* position: relative; */
    /* border:2px solid blue */
}
.main_nav{
    /* position: fixed; */
    width: 100%;
    
    /* top: 20; */
    left:0;
    z-index: 300;
    background-color: white;
    
}
.row{
    display:flex
}

.hammer{
    /* border:2px solid grey; */

}
.hammer_line{
    width: 20px;
    border:2px solid  #136E82;
    margin-top: 2px;
}
.nav_container{
  
    justify-content:space-around;
    align-items: center;

}


.nav_container_primary{
    width: 70%;
    justify-content:flex-end;
    align-items: center;
    padding-right: 10px;

    
   
}

.logo_img{
    width: 120px;
    height: 80px;
}

.nav_content_ul{
    justify-content: space-evenly;
    /* border:2px solid grey; */
    width: 80%;
    align-items: center;
    color: #136E82;
    font-size: 19px;
}
.nav_content_ul_element:hover{
   
    text-decoration-line: underline;
    text-decoration-color:#136E82;
  
    text-decoration-thickness: .2rem;
}
.nav_side_content:hover{
       
    text-decoration-line: underline;
    text-decoration-color:#136E82;
  
    text-decoration-thickness: .2rem;
}
.sideBar_content_elements:hover{

    text-decoration-line: underline;
    text-decoration-color:green;
   
    color:white

}
.nav_container_secondary{
    width: 18%;
    justify-content:space-around;
    align-items: center;
    min-width: 180px;
    color:#136E82;
    font-size: 19px;

}
.nav_side_content{
    /* border:1px solid #136E82;; */
    margin-left: 2px;
    /* height: 40px; */
    text-align: center;
    padding:12px;
}
.nav_side_content:hover{
    background-color:#136E82;
    color: white;
}
.hammer_display{
    display: none !important;
}
.nav_content_hide{
    display: none;
}


.responsive_sidebar_display{

    display: none;
}

.responsive_sidebar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #136E82;
    color: blanchedalmond;
    width: 100%;
    height: 100%;
    padding:15px 10px;
}


.sideBar_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    padding-top: 40px;
    padding-right: 30px;
    font-size: 24px;
}
.sideBar_content_elements{
    margin-top:2rem;
}

.nav_height{
    height: 100%;
    /* border:2px solid red */

}

.top_nav_container_left_content{
    width:30%;
}
.close_menu{
  
    text-align: right;
    margin-left: 300px;
    /* border:2px solid red */
}


@media screen and (max-width: 799px) {
    .top_nav{width: 100%;}
    .top_nav_container{
    /* border:4px solid yellow; */
    width: 100%;
    }
    .top_nav_container_left{
        width: 80%;
        /* border:4px solid red;/ */
        /* min-width: 230px; */
    }
    .top_nav_container_right{
        width: 20%;
        font-size: 15px;
        /* min-width:30px; */

    }
    .top_nav_container_left_content{
        font-size: 12px !important;
        min-width:90px;
        /* color: darkgreen; */
    }
    .top_nav_container_right_content{
        font-size: 22px;
    }
  
  } 
  /* */ 
    /* left:0; */
    /* z-index: 300; */
    
/* } */
.row{
    display:flex
}

.hammer{
    /* border:2px solid grey; */

}
.hammer_line{
    width: 20px;
    border:2px solid  #136E82;
    margin-top: 2px;
}
.nav_container{
  
    justify-content:space-around;
    align-items: center;

}


.nav_container_primary{
    width: 60%;
    justify-content:flex-end;
    align-items: center;
    padding-right: 10px;
   /* border:2px solid yellow */
    
   
}

.logo_img{
    width: 120px;
    height: 80px;
}

.nav_content_ul{
    justify-content: space-evenly;
    /* border:2px solid grey; */
    width: 80%;
    align-items: center;
    color: #136E82;
    font-size: 19px;
}
.nav_content_ul_element:hover{
   
    text-decoration-line: underline;
    text-decoration-color:#136E82;
  
    text-decoration-thickness: .2rem;
}
.nav_side_content:hover{
       
    text-decoration-line: underline;
    text-decoration-color:#136E82;
  
    text-decoration-thickness: .2rem;
}
.sideBar_content_elements:hover{

    text-decoration-line: underline;
    text-decoration-color:green;
   
    color:white

}
.nav_container_secondary{
    width: 18%;
    justify-content:space-around;
    align-items: center;
    min-width: 180px;
    color:#136E82;
    font-size: 19px;

}
.nav_side_content{
    /* border:1px solid #136E82;; */
    margin-left: 2px;
    /* height: 40px; */
    text-align: center;
    padding:12px;
}
.nav_side_content:hover{
    background-color:#136E82;
    color: white;
}
.hammer_display{
    display: none !important;
}
.nav_content_hide{
    display: none;
}


.responsive_sidebar_display{

    display: none;
}

.responsive_sidebar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #136E82;
    color: blanchedalmond;
    width: 100%;
    height: 100%;
    padding:15px 10px;
    z-index: 200;
}


.sideBar_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    padding-top: 40px;
    padding-right: 30px;
    font-size: 24px;
}
.sideBar_content_elements{
    margin-top:2rem;
}

.nav_height{
    height: 100%;
    /* border:2px solid red */

}

.top_nav_container_left_content{
    width:30%;
}
.close_menu{
  
    text-align: right;
}


@media screen and (max-width: 799px) {
    .top_nav{width: 100%;}
    .top_nav_container{
    /* border:4px solid yellow; */
    width: 100%;
    }
    .top_nav_container_left{
        width: 80%;
        /* border:4px solid red;/ */
        /* min-width: 230px; */
    }
    .top_nav_container_right{
        width: 20%;
        font-size: 15px;
        /* border:2px solid blue; */
        margin-left: 2px;
        /* min-width:30px; */

    }
    .top_nav_container_left_content{
        font-size: 12px !important;
        min-width:90px;
        /* color: darkgreen; */
    }
    .top_nav_container_right_content{
        font-size: 22px;
    }
  
  }



  .bd_green{
      /* border:2px solid green */
  }

  .bd_red{
      /* border:2px solid red */
  }




  @media screen and (max-width:620px){
      .container_nav{
          /* width: 100%; */
          /* display: flex;
          justify-content: center; */
          /* border:2px solid red; */
          padding: 0 20px;
      }
      .nav_container_primary{
          width: 50%;
      }
  }

